.container_table {
  height: 460px;
  background-color: #f2f2f2;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #7d7d7d;
  padding-bottom: 10px;
}
.container_btn_pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
  gap: 20px;
}
.container_btn_pages button {
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #e0301e;
  outline: none;
  color: #ffff;
  font-weight: bold;
}
.container_btn_pages button:hover {
  background-color: #ffff;
  color: #e0301e;
  border: 1px solid #e0301e;
}
.title_table {
  text-align: center;
}
.btn_table {
  opacity: 0.5;
}
